<div id="container" >

<div class="container-fluid card login-container">
  <h3 class="text-center">Login</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
    <p *ngFor="let msg of errorMessage">{{msg}}</p>
  </div>

  <div class="mb-3">
    <label for="login" class="form-label">Email Address</label>
    <input [(ngModel)]="authRequest.email" type="email" class="form-control" id="login" placeholder="namesfd@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="login()" type="button" class="btn btn-primary">
       Sign In
    </button>
    <div>
      Don't have an account?&nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        Register
      </button>
    </div>
  </div>
</div>
</div>
