html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

#container {
  background-image: url('/assets/images/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center; /* Center the background image */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-fluid.card.login-container {
  background: rgba(255, 255, 255, 0.9); /* White background with slight opacity */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin-bottom: 10rem;


}

h3 {
  color: #333;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  border-top: 2px solid #f3f3f3;
  margin: 1rem 0;
}

.alert {
  margin-bottom: 1rem;
  border-radius: 5px;
}

input.form-control {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0.75rem;
  transition: border-color 0.3s ease;
}

input.form-control:focus {
  border-color: #2575fc;
  box-shadow: 0 0 0 0.2rem rgba(37, 117, 252, 0.25);
}

.btn {
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.5;
}

.btn-primary {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  border: none;
  color: #fff;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #4a09a7, #1e60d6);
  transform: scale(1.02);
}

.btn-link {
  color: #2575fc;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.btn-link:hover {
  color: #1e60d6;
}


